clusters =  2
nginxs = 2
nims = 0
controllers = 1
controller_size = "Standard_D4s_v3"
nginx_size = "Standard_DS1_v2"
nim_size = "Standard_DS2_v2"
location = "uksouth"
use_internal_domain = true
prefix = "tux-tf"
image_rg = "tux-images"
controller_image = "controller-3.12.1"
controller_name = "tuxctl"
nginx_image = "nginx-plus-r23"
nginx_name = "tuxngx"
nim_image = "nginx-nim-0.9.2"
nim_name = "tuxnim"
fw_ssh_prefixes = [ "8.8.8.8", "4.4.4.4" ]
fw_service_prefixes = [ "0.0.0.0/0" ]
admin_user = "buckrogers"
admin_ssh_key = "~/.ssh/tf_keys.pub"
controller_admin_user = "changeMe"
controller_admin_pass = "changeMe"
