{
    "imageName": "nginx-plus-r23",
    "buildRG": "tux_img",
    "subscription": "444aaaaa-1111-bbbb-1111-111111111111",
    "azure_region": "uksouth",
    "nginx_host": "tux_nginx1",
    "nginx_vm_size": "Standard_D2s_v3",
    "nginx_ssl_key": "/etc/ssl/nginx/nginx-repo.key",
    "nginx_ssl_crt": "/etc/ssl/nginx/nginx-repo.crt",
    "nginx_modules": "nginx-plus-module-njs app-protect",
    "app_protect": "no",
    "mod_sec": "no"
}

